/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --red-color: #94083e;
}
/* ------- */

/* Common */
body{
    background-color: var(--red-color);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 62.5rem;
    margin: 0 auto;
    text-align: center;
}
h1{
    color: white;
}
.box-white{
    background-color: white;
    padding: 3.125rem;
    border-radius: .9375rem;
    margin: 1.875rem 0;
}
.btn{
    padding: .3125rem .625rem;
    border: .125rem solid darkgoldenrod;
    border-radius: .625rem;
    background-color: transparent;
    color: var(--red-color);
    font-size: 1.25rem;
    font-weight: bold;
    background-color: lightgrey;
    cursor: pointer;
    margin: 0 .625rem;
}
/* ------- */

/* Form  */
.form-box{
    display: flex;
    padding-bottom: 1.875rem;
}
.col > label{
    font-size: 1.25rem;
    color: var(--red-color);
    font-weight: bold;
}
.col .input{
    border: 2px solid var(--red-color);
    border-radius: .3125rem;
    height: 1.875rem;
    font-weight: bolder;
    margin-top: 1.25rem;
    text-align: center;
}
/* ------- */

/* Biglietto */
.hidden{
    display: none;
}
.show{
    display: block;
}
.flex{
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.col-left{
    width: 40%;
    background-color: lightgray;
    text-transform: capitalize;
    padding: 1.25rem;
    font-weight: bold;
}
.col-right{
    width: 60%;
    padding: 0 .625rem;
}
#dettagli{
    text-align: left;
    font-weight: bolder;
}
th{
    padding: .625rem .625rem;
}
.name {
    padding: .625rem;
}
/* ------- */